<a href="https://colab.research.google.com/github/Vinicius203/Python_Alura/blob/master/Collections/Listas_e_Tuplas/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução a Listas

* Introdução a Listas
* Append, Remove, Insert, Extends
* List Comprehension
* Mutabilidade

**Valores em diferentes variáveis**

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1, idade2, idade3)

39 30 27

**Listas**

In [ ]:
idades = [39, 30, 27]
print(type(idades), idades)

<class 'list'> [39, 30, 27]

In [ ]:
print(idades)
print(idades[0])
print(idades[1])
print(idades[2])

[39, 30, 27]
39
30
27

**Append**

O append adiciona um elemento ao final da lista.

In [ ]:
idades.append(20)
print(idades)

[39, 30, 27, 20]

**Remove**

O remove exclui o primeiro caso de aparição do elemento.

In [ ]:
idades.remove(30)
print(idades)

idades.append(20)
print(idades)
idades.remove(20)
print(idades)

[39, 27, 20]
[39, 27, 20, 20]
[39, 27, 20]

**Insert**

O insert insere um valor da seguinte maneira: lista.insert(x, y)

Onde:

x - posição onde o valor será inserado                                    
y - valor

In [ ]:
idades.insert(0, 13)
print(idades)

[13, 39, 27, 20]

**Extends**

Essa função adiciona uma lista à lista original

In [ ]:
idades =  [20, 39, 18]
idades.extend([13, 21])
print(idades)

idade_adicional = [1, 93]
idades.extend(idade_adicional)
print(idades)

[20, 39, 18, 13, 21]
[20, 39, 18, 13, 21, 1, 93]

**Não usando List Comprehension**

Como criar uma lista a partir de outra da forma mais longa, podemos até dizer "incorreta".

In [ ]:
idades_no_ano_que_vem = []

for idade in idades:
  idades_no_ano_que_vem.append(idade + 1)

print(idades_no_ano_que_vem)

[21, 40, 19, 14, 22, 2, 94]

**List Comprehension**

Podemos utilizar list comprehension para termos os mesmos resultados em uma forma muito mais simples.

In [ ]:
idades_no_ano_que_vem = [(idade+2) for idade in idades]
print(idades_no_ano_que_vem)

[22, 41, 20, 15, 23, 3, 95]

In [ ]:
idades = [20, 39, 18, 27, 19]

print("Idades:", idades)
# idades maiores que 22 com list comprehension
print([idade for idade in idades if idade > 22])

Idades: [20, 39, 18, 27, 19]
[39, 27]

In [ ]:
# Também podemos utilizar funções parar melhorar a legibidade da lista comprehension
def proximo_ano(idade):
  return idade+1

idades = [20, 39, 18, 27, 19]

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

**Mutabilidade**

É necessário tomar muito cuidado ao se trabalhar com listas, já que a classe lista é mutável.



Ao passar uma lista da forma incorreta como parâmetro, ela pode retornar com valores totalmente diferentes do esperado.

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]

faz_processamento_de_visualizacao(idades)

idades

5

[16, 21, 29, 56, 43, 13]

**FORMA INCORRETA**

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

# printa 0

0

In [ ]:
faz_processamento_de_visualizacao()

# printa 1

1

In [ ]:
faz_processamento_de_visualizacao()

# printa 2

2

**FORMA CORRETA**

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos próprios e Tuplas

* Utilização de POO
* Listas com POO
* Tuplas
* Lista de Tuplas
* Tupla de Listas

**Criação de Classe e seus Métodos**

In [ ]:
class contaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return (f"[Código: {self.codigo}, Saldo: {self.saldo}]")

**Criação de Objetos**

In [ ]:
vinicius = contaCorrente(15)
print(vinicius)

vinicius.deposita(85)
print(vinicius)

[Código: 15, Saldo: 0]
[Código: 15, Saldo: 85]

In [ ]:
dani = contaCorrente(47685)
dani.deposita(1000)
print(dani)

[Código: 47685, Saldo: 1000]

**Criação de Lista de Objetos**

In [ ]:
contas = [vinicius, dani]

for conta in contas:
  print(conta)

# É necessário tomar cuidado com o seguinte caso:
contas = [dani, vinicius, dani]
# Nesse caso, a conta da dani foi colocada duas vezes na lista

dani.deposita(100)

# Ao depositar na conta da dani, o objeto está com o mesmo endereço
# das duas posições. Dessa forma, as duas posições recebem o depósito
print(contas[0])
print(contas[2])
print(dani)

[Código: 15, Saldo: 85]
[Código: 47685, Saldo: 1000]
[Código: 47685, Saldo: 1100]
[Código: 47685, Saldo: 1100]
[Código: 47685, Saldo: 1100]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [vinicius, dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[Código: 15, Saldo: 85] [Código: 47685, Saldo: 1100]
[Código: 15, Saldo: 185] [Código: 47685, Saldo: 1200]

In [ ]:
# Inserindo o código do banco no ínicio da lista
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [Código: 15, Saldo: 185] [Código: 47685, Saldo: 1200]

In [ ]:
# deposita_para_todas(contas)
# A linha acima irá dar erro, pois a posição 0 agora possui um número inteiro.
print(contas[0], contas[1], contas[2])

76 [Código: 15, Saldo: 185] [Código: 47685, Saldo: 1200]

**Tuplas**

Ao trabalharmos com valores em posições fixas, é melhor utilizar tuplas.

Isso se deve ao fato de tuplas serem imutáveis. Ou seja, não há funções como append, remove, insert.

objeto = ['X', Y, Z]

x - nome


y - idade


z - ano de nascimento

In [ ]:
vinicius = ('Vinicius', 21, 2001)
matheus = ('Matheus', 18, 2005)

# paulo = (39, 'Paulo', 1979)
# A linha acima é inaceitável pois estou fugindo da própria regra que
# criei, isso se deve ao fato de mudar a ordem pré-estabelecida dos valores

In [ ]:
aragorn = (15, 1000)
aragorn[0]
# aragorn[0] += 100
# A linha acima não funciona já que tuplas são imutáveis

15

In [ ]:
def deposita(conta): # variação funcional (separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

deposita(aragorn)
aragorn

(15, 1000)

In [ ]:
aragorn = deposita(aragorn)
aragorn

# A utilização de tuplas é mais associada com programação funcional
# Se a posição indica alguma coisa, o melhor é usar tuplas
# Caso contrário, é melhor usar listas
# As listas são mais associadas a POO

(15, 1100)

**Lista de Tuplas**

Aqui posso alterar a quantidade de listas, mas não posso alterar o valor dentro dessas listas, já que os valores estão em tupla.

In [ ]:
usuarios = [vinicius, matheus]
usuarios

[('Vinicius', 21, 2001), ('Matheus', 18, 2005)]

In [ ]:
usuarios.append(('Cleusa', 61, 1962))
usuarios

[('Vinicius', 21, 2001), ('Matheus', 18, 2005), ('Cleusa', 61, 1962)]

In [ ]:
# usuarios[0][0] = 'Jorge'
# A linha acima não funciona, pois estou tentando alterar uma tupla

**Tupla de Listas**

Aqui a quantidade de tuplas não pode ser alterada, mas os valores dentro da tupla sim, já que estão dentro de uma lista.

Essa forma não é muito utilizada, pois perde o sentido de as posições da tupla significam algo.

In [ ]:
vinicius = contaCorrente(15)
vinicius.deposita(500)
matheus = contaCorrente(2345678)
matheus.deposita(400)

contas = (vinicius, matheus)

for conta in contas:
  print(conta)

[Código: 15, Saldo: 500]
[Código: 2345678, Saldo: 400]

In [ ]:
contas[0].deposita(500)

for conta in contas:
  print(conta)

[Código: 15, Saldo: 1000]
[Código: 2345678, Saldo: 400]

# Herança e Poliformismo

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return (f"[Código: {self._codigo}, Saldo: {self._saldo}]")

In [ ]:
# print(Conta(88)) não irá funcionar pois a classe é abstrata

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -=2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

**Herança**

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[Código: 16, Saldo: 998]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[Código: 17, Saldo: 1007.0]

**Poliformismo e Listas**

Aqui podemos ver que uma lista iterável pode usar do poliformismo. As contas de diferentes classes que possuem um método com mesmo nome, mas com funcionalidades diferentes.

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)

contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[Código: 16, Saldo: 998]
[Código: 17, Saldo: 1007.0]

# Array

Evitaremos usar o padrão do Python ao trabalhar com números.

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

**Numpy**

Ao invés de usarmos o array padrão, usaremos a biblioteca numpy.

In [ ]:
!pip install numpy # como instalar o numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros += 3
numeros

array([4. , 6.5])

**Igualdade e Equal**

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[Código: 37, Saldo: 0]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[Código: 37, Saldo: 0]

In [ ]:
conta1 == conta2
# O resultado será falso, pois apesar de os valores serem iguais
# os objetos apontam para locais diferentes na memória.

False

**Usando o Equals**

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

conta1 == conta2

True

In [ ]:
conta1.deposita(10)
conta1 == conta2

# Agora irá dar False, pois as duas contas tem saldos diferentes.

False

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

conta1 == conta2

# Irá retornar false, porque foi feita a verificação de tipos na
# função __eq__ da classe.

False

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)
# É true, porque ContaCorrente herda de Conta.

True

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

class ContaMultiploSalario(ContaSalario):
  pass

#Built-ins

**Enumerate**

In [3]:
idades = [15, 87, 65, 56, 32, 49, 37]

posicao_valor = list(enumerate(idades)) # forçando geração de valores
print(posicao_valor)

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [4]:
for indice, idade in enumerate(idades): # valores gerados conforme necessidade
  print(indice, idade)                  # isso já realiza o unpacking da tupla

0 15
1 87
2 65
3 56
4 32
5 49
6 37

In [6]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979),
]

for nome, idade, nascimento in usuarios: # já desempacotando
  print(nome)

Guilherme
Daniela
Paulo

**Uso do Underline**

O underline é utilizado para quando não os valores não são necessários, chamado de forma implícita.

In [7]:
for nome, _, _ in usuarios:
  print(nome)

Guilherme
Daniela
Paulo

**Ordenação**

In [9]:
sorted(idades) # ordenação crescente

[15, 32, 37, 49, 56, 65, 87]

In [10]:
sorted(idades, reverse=True) # ordenação decrescente

[87, 65, 56, 49, 37, 32, 15]

In [12]:
idades.sort()
print(idades)

# Agora a lista foi alterada na fonte

[15, 32, 37, 49, 56, 65, 87]

In [14]:
nomes = ["Vinicius", "Matheus", "Cleusa", "domingos"]
sorted(nomes)

# Na ordenação de Strings, o caractere maiúsculo vem antes do minúsculo

['Cleusa', 'Matheus', 'Vinicius', 'domingos']

In [15]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

In [18]:
vinicius = ContaSalario(17)
vinicius.deposita(500)

matheus = ContaSalario(3)
matheus.deposita(1000)

cleusa = ContaSalario(133)
cleusa.deposita(750)

contas = [vinicius, matheus, cleusa]

In [19]:
for conta in contas:
  print(conta)

[Código: 17, Saldo: 500]
[Código: 3, Saldo: 1000]
[Código: 133, Saldo: 750]

In [ ]:
# sorted(contas)
# isso não funciona, pois não é possível resolver que conta1 < conta 2

In [29]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[Código: 17, Saldo: 500]
[Código: 133, Saldo: 750]
[Código: 3, Saldo: 1000]

**Uso de Funções dentro da Classe**

Essa é a forma correta caso seja preciso manter a privacidade dos atributos.

Implementamos o método LT, que significa less than (menor que).

In [30]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

In [32]:
vinicius = ContaSalario(17)
vinicius.deposita(500)

matheus = ContaSalario(3)
matheus.deposita(1000)

cleusa = ContaSalario(133)
cleusa.deposita(750)

contas = [vinicius, matheus, cleusa]

In [33]:
vinicius < matheus

# Agora com o __lt__, a comparação funciona

True

In [35]:
for conta in sorted(contas):
  print(conta)

[Código: 17, Saldo: 500]
[Código: 133, Saldo: 750]
[Código: 3, Saldo: 1000]

In [36]:
for conta in sorted(contas, reverse=True):
  print(conta)

[Código: 3, Saldo: 1000]
[Código: 133, Saldo: 750]
[Código: 17, Saldo: 500]

**Ordenação de dois fatores**

E caso seja necessário ter um parâmetro secundário de ordenação na possibilidade dos saldos serem iguais?

In [38]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __lt__(self, outro):
  # É feita a verificação se o saldo é igual
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

  # Caso eles sejam iguais, a ordenação é feita por código
    return self._codigo < outro._codigo

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

In [39]:
vinicius = ContaSalario(17)
vinicius.deposita(500)

matheus = ContaSalario(3)
matheus.deposita(1001)

cleusa = ContaSalario(133)
cleusa.deposita(500)

contas = [vinicius, matheus, cleusa]

In [40]:
for conta in sorted(contas):
  print(conta)

[Código: 17, Saldo: 500]
[Código: 133, Saldo: 500]
[Código: 3, Saldo: 1001]

In [41]:
vinicius = ContaSalario(17)
vinicius.deposita(500)

matheus = ContaSalario(3)
matheus.deposita(500)

cleusa = ContaSalario(133)
cleusa.deposita(500)

contas = [vinicius, matheus, cleusa]

for conta in sorted(contas):
  print(conta)

[Código: 3, Saldo: 500]
[Código: 17, Saldo: 500]
[Código: 133, Saldo: 500]

**Ordenação Completa e Fuunctools**

In [45]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __lt__(self, outro):
  # É feita a verificação se o saldo é igual
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

  # Caso eles sejam iguais, a ordenação é feita por código
    return self._codigo < outro._codigo

  def __str__(self):
    return (f'[Código: {self._codigo}, Saldo: {self._saldo}]')

In [46]:
vinicius = ContaSalario(17)
vinicius.deposita(500)

matheus = ContaSalario(3)
matheus.deposita(501)

cleusa = ContaSalario(133)
cleusa.deposita(500)

contas = [vinicius, matheus, cleusa]

In [47]:
matheus <= vinicius

# Agora a comparação de iguais também funciona, por causa do functools.

False

In [48]:
matheus == matheus

True

In [49]:
matheus < matheus

False

In [51]:
matheus <= matheus

True