<a href="https://colab.research.google.com/github/Vinicius203/Python_Alura/blob/master/Collections/Listas_e_Tuplas/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução a Listas

* Introdução a Listas
* Append, Remove, Insert, Extends
* List Comprehension
* Mutabilidade

**Valores em diferentes variáveis**

In [111]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1, idade2, idade3)

39 30 27

**Listas**

In [112]:
idades = [39, 30, 27]
print(type(idades), idades)

<class 'list'> [39, 30, 27]

In [113]:
print(idades)
print(idades[0])
print(idades[1])
print(idades[2])

[39, 30, 27]
39
30
27

**Append**

O append adiciona um elemento ao final da lista.

In [114]:
idades.append(20)
print(idades)

[39, 30, 27, 20]

**Remove**

O remove exclui o primeiro caso de aparição do elemento.

In [115]:
idades.remove(30)
print(idades)

idades.append(20)
print(idades)
idades.remove(20)
print(idades)

[39, 27, 20]
[39, 27, 20, 20]
[39, 27, 20]

**Insert**

O insert insere um valor da seguinte maneira: lista.insert(x, y)

Onde:

x - posição onde o valor será inserado                                    
y - valor

In [116]:
idades.insert(0, 13)
print(idades)

[13, 39, 27, 20]

**Extends**

Essa função adiciona uma lista à lista original

In [117]:
idades =  [20, 39, 18]
idades.extend([13, 21])
print(idades)

idade_adicional = [1, 93]
idades.extend(idade_adicional)
print(idades)

[20, 39, 18, 13, 21]
[20, 39, 18, 13, 21, 1, 93]

**Não usando List Comprehension**

Como criar uma lista a partir de outra da forma mais longa, podemos até dizer "incorreta".

In [118]:
idades_no_ano_que_vem = []

for idade in idades:
  idades_no_ano_que_vem.append(idade + 1)

print(idades_no_ano_que_vem)

[21, 40, 19, 14, 22, 2, 94]

**List Comprehension**

Podemos utilizar list comprehension para termos os mesmos resultados em uma forma muito mais simples.

In [119]:
idades_no_ano_que_vem = [(idade+2) for idade in idades]
print(idades_no_ano_que_vem)

[22, 41, 20, 15, 23, 3, 95]

In [120]:
idades = [20, 39, 18, 27, 19]

print("Idades:", idades)
# idades maiores que 22 com list comprehension
print([idade for idade in idades if idade > 22])

Idades: [20, 39, 18, 27, 19]
[39, 27]

In [121]:
# Também podemos utilizar funções parar melhorar a legibidade da lista comprehension
def proximo_ano(idade):
  return idade+1

idades = [20, 39, 18, 27, 19]

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

**Mutabilidade**

É necessário tomar muito cuidado ao se trabalhar com listas, já que a classe lista é mutável.



Ao passar uma lista da forma incorreta como parâmetro, ela pode retornar com valores totalmente diferentes do esperado.

In [122]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [123]:
idades = [16, 21, 29, 56, 43]

faz_processamento_de_visualizacao(idades)

idades

5

[16, 21, 29, 56, 43, 13]

**FORMA INCORRETA**

In [124]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  lista.append(13)

In [125]:
faz_processamento_de_visualizacao()

# printa 0

0

In [126]:
faz_processamento_de_visualizacao()

# printa 1

1

In [127]:
faz_processamento_de_visualizacao()

# printa 2

2

**FORMA CORRETA**

In [128]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [129]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos próprios e Tuplas

* Utilização de POO
* Listas com POO
* Tuplas
* Lista de Tuplas
* Tupla de Listas

**Criação de Classe e seus Métodos**

In [147]:
class contaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return (f"[Código: {self.codigo}, Saldo: {self.saldo}]")

**Criação de Objetos**

In [148]:
vinicius = contaCorrente(15)
print(vinicius)

vinicius.deposita(85)
print(vinicius)

[Código: 15, Saldo: 0]
[Código: 15, Saldo: 85]

In [149]:
dani = contaCorrente(47685)
dani.deposita(1000)
print(dani)

[Código: 47685, Saldo: 1000]

**Criação de Lista de Objetos**

In [150]:
contas = [vinicius, dani]

for conta in contas:
  print(conta)

# É necessário tomar cuidado com o seguinte caso:
contas = [dani, vinicius, dani]
# Nesse caso, a conta da dani foi colocada duas vezes na lista

dani.deposita(100)

# Ao depositar na conta da dani, o objeto está com o mesmo endereço
# das duas posições. Dessa forma, as duas posições recebem o depósito
print(contas[0])
print(contas[2])
print(dani)

[Código: 15, Saldo: 85]
[Código: 47685, Saldo: 1000]
[Código: 47685, Saldo: 1100]
[Código: 47685, Saldo: 1100]
[Código: 47685, Saldo: 1100]

In [151]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [vinicius, dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[Código: 15, Saldo: 85] [Código: 47685, Saldo: 1100]
[Código: 15, Saldo: 185] [Código: 47685, Saldo: 1200]

In [152]:
# Inserindo o código do banco no ínicio da lista
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [Código: 15, Saldo: 185] [Código: 47685, Saldo: 1200]

In [153]:
# deposita_para_todas(contas)
# A linha acima irá dar erro, pois a posição 0 agora possui um número inteiro.
print(contas[0], contas[1], contas[2])

76 [Código: 15, Saldo: 185] [Código: 47685, Saldo: 1200]

**Tuplas**

Ao trabalharmos com valores em posições fixas, é melhor utilizar tuplas.

Isso se deve ao fato de tuplas serem imutáveis. Ou seja, não há funções como append, remove, insert.

objeto = ['X', Y, Z]

x - nome


y - idade


z - ano de nascimento

In [154]:
vinicius = ('Vinicius', 21, 2001)
matheus = ('Matheus', 18, 2005)

# paulo = (39, 'Paulo', 1979)
# A linha acima é inaceitável pois estou fugindo da própria regra que
# criei, isso se deve ao fato de mudar a ordem pré-estabelecida dos valores

In [155]:
aragorn = (15, 1000)
aragorn[0]
# aragorn[0] += 100
# A linha acima não funciona já que tuplas são imutáveis

15

In [156]:
def deposita(conta): # variação funcional (separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

deposita(aragorn)
aragorn

(15, 1000)

In [157]:
aragorn = deposita(aragorn)
aragorn

# A utilização de tuplas é mais associada com programação funcional
# Se a posição indica alguma coisa, o melhor é usar tuplas
# Caso contrário, é melhor usar listas
# As listas são mais associadas a POO

(15, 1100)

**Lista de Tuplas**

Aqui posso alterar a quantidade de listas, mas não posso alterar o valor dentro dessas listas, já que os valores estão em tupla.

In [158]:
usuarios = [vinicius, matheus]
usuarios

[('Vinicius', 21, 2001), ('Matheus', 18, 2005)]

In [159]:
usuarios.append(('Cleusa', 61, 1962))
usuarios

[('Vinicius', 21, 2001), ('Matheus', 18, 2005), ('Cleusa', 61, 1962)]

In [160]:
# usuarios[0][0] = 'Jorge'
# A linha acima não funciona, pois estou tentando alterar uma tupla

**Tupla de Listas**

Aqui a quantidade de tuplas não pode ser alterada, mas os valores dentro da tupla sim, já que estão dentro de uma lista.

Essa forma não é muito utilizada, pois perde o sentido de as posições da tupla significam algo.

In [164]:
vinicius = contaCorrente(15)
vinicius.deposita(500)
matheus = contaCorrente(2345678)
matheus.deposita(400)

contas = (vinicius, matheus)

for conta in contas:
  print(conta)

[Código: 15, Saldo: 500]
[Código: 2345678, Saldo: 400]

In [165]:
contas[0].deposita(500)

for conta in contas:
  print(conta)

[Código: 15, Saldo: 1000]
[Código: 2345678, Saldo: 400]